---
import { MyFooter } from '@/components/layouts/MyFooter'
import { MyHeader } from '@/components/layouts/MyHeader'
import { MyPageContainer } from '@/components/layouts/MyPageContainer'
import '@/styles/app.css'
export interface Props {
  title: string
}

const { title } = Astro.props
const isDev = process.env.NODE_ENV == 'development'
---

<!DOCTYPE html>
<html lang='ja'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <MyHeader />
    <MyPageContainer>
      <slot />
    </MyPageContainer>
    <MyFooter />
  </body>
</html>
